In [ ]:
# stock_symbol_list = [x[:-4] for x in os.listdir('NDX100_data/2020/20200622/20200622')]
stock_symbol_list = ['AAPL', 'ADBE', 'ADI', 'ADP', 'ADSK', 'ALGN', 'ALXN', 'AMAT', 'AMD', 'AMGN', 
                     'AMZN', 'ANSS', 'ASML', 'ATVI', 'AVGO', 'BIDU', 'BIIB', 'BKNG', 'BMRN', 'CDNS', 
                     'CDW', 'CERN', 'CHKP', 'CHTR', 'CMCSA', 'COST', 'CPRT', 'CSCO', 'CSGP', 'CSX', 
                     'CTAS', 'CTSH', 'CTXS', 'DLTR', 'DXCM', 'EA', 'EBAY', 'EXC', 'EXPE', 'FAST', 
                     'FB', 'FISV', 'FOX', 'FOXA', 'GILD', 'GOOG', 'GOOGL', 'IDXX', 'ILMN', 'INCY', 
                     'INTC', 'INTU', 'ISRG', 'JD', 'KHC', 'KLAC', 'LBTYA', 'LBTYK', 'LRCX', 'LULU', 
                     'MAR', 'MCHP', 'MDLZ', 'MELI', 'MNST', 'MSFT', 'MU', 'MXIM', 'NFLX', 'NTAP', 
                     'NTES', 'NVDA', 'NXPI', 'ORLY', 'PAYX', 'PCAR', 'PEP', 'PYPL', 'QCOM', 'REGN', 
                     'ROST', 'SBUX', 'SGEN', 'SIRI', 'SNPS', 'SPLK', 'SWKS', 'TCOM', 'TMUS', 'TSLA', 
                     'TTWO', 'TXN', 'UAL', 'ULTA', 'VRSK', 'VRSN', 'VRTX', 'WBA', 'WDAY', 'WDC', 
                     'XEL', 'XLNX', 'ZM']

sql_create_tables = []
for stock_symbol in stock_symbol_list:
    sql_create_tables.append("DELETE FROM ib_today_" + stock_symbol + ";")
with open('SQL/sql_delete_today_tables.sql', 'w') as f:
    for c in sql_create_tables:
        f.write("%s\n" % c)

In [4]:
import numpy as np
# note that all ndarrays must be the same length!
input_arrays = {
    'open': np.random.random(100),
    'high': np.random.random(100),
    'low': np.random.random(100),
    'close': np.random.random(100),
    'volume': np.random.random(100)
}

In [5]:
from talib import abstract
sma = abstract.SMA
sma = abstract.Function('sma')

In [7]:
from talib.abstract import *
output = SMA(input_arrays, timeperiod=25) # calculate on close prices by default
output = SMA(input_arrays, timeperiod=25, price='open') # calculate on opens
# upper, middle, lower = BBANDS(input_arrays, 20, 2, 2)
# slowk, slowd = STOCH(input_arrays, 5, 3, 0, 3, 0) # uses high, low, close by default
# slowk, slowd = STOCH(input_arrays, 5, 3, 0, 3, 0, prices=['high', 'low', 'open'])

In [12]:
sma(input_arrays, timeperiod=25)

array([       nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan, 0.55254495,
       0.53941701, 0.53929181, 0.53193193, 0.50002196, 0.51003586,
       0.52305878, 0.5167784 , 0.52255828, 0.50524921, 0.48959504,
       0.46528593, 0.44720209, 0.44897447, 0.4521605 , 0.44657164,
       0.46466863, 0.43959924, 0.41446286, 0.42206237, 0.41337652,
       0.41842159, 0.44707073, 0.44266191, 0.42616748, 0.43218978,
       0.44173331, 0.44566623, 0.46420513, 0.49856224, 0.51140967,
       0.52376012, 0.51687894, 0.51496994, 0.5314359 , 0.55668194,
       0.57082628, 0.55869304, 0.56064504, 0.54414183, 0.53410972,
       0.52803804, 0.52455613, 0.52844683, 0.51760498, 0.52295198,
       0.50791788, 0.49311697, 0.49272565, 0.50832814, 0.48989313,
       0.50729446, 0.50909071, 0.49756209, 0.49583315, 0.49401796,
       0.4960935 , 0.48734724, 0.46813133, 0.45989518, 0.4478289 ,
       0.42800707, 0.45302358, 0.48230291, 0.47914045, 0.4889635 ,
       0.50106234, 0.50677656, 0.49925454, 0.50979569, 0.49393565,
       0.49211835, 0.48857611, 0.49268949, 0.47586674, 0.47122441])

In [14]:
upper, middle, lower = BBANDS(input_arrays, 20, 2.0, 2.0)

TypeError: Invalid parameter value for timeperiod (expected int, got list)

In [10]:
Function('BBANDS').info

{'name': 'BBANDS',
 'group': 'Overlap Studies',
 'display_name': 'Bollinger Bands',
 'function_flags': ['Output scale same as input'],
 'input_names': OrderedDict([('price', 'close')]),
 'parameters': OrderedDict([('timeperiod', 5),
              ('nbdevup', 2),
              ('nbdevdn', 2),
              ('matype', 0)]),
 'output_flags': OrderedDict([('upperband',
               ['Values represent an upper limit']),
              ('middleband', ['Line']),
              ('lowerband', ['Values represent a lower limit'])]),
 'output_names': ['upperband', 'middleband', 'lowerband']}

In [4]:
from StockMethodRealTime import StockMethodRealTime

a = StockMethodRealTime('aapl', '').get_real_time_data()

C:\Users\User\anaconda3\envs\stock\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xA4\\xA4\\xB0\\xEA\\xBC\\xD0...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

In [10]:
a['Date'] = a['Date'].astype(str)

In [11]:
a['TimeBarStart'] = a['TimeBarStart'].astype(str).str[7:15]

In [12]:
import pandas as pd

In [14]:
b = pd.to_datetime(a['Date'] + ' ' + a['TimeBarStart'])

In [16]:
b.iloc[0]

Timestamp('2020-07-15 03:18:00')

In [18]:
(a['Date'] + ' ' + a['TimeBarStart'])[0]

'2020-07-15 03:18:00'

In [22]:
from datetime import datetime

datetime.strptime((a['Date'] + ' ' + a['TimeBarStart'])[0], '%Y-%m-%d %H:%M:%S')

datetime.datetime(2020, 7, 15, 3, 18)

In [27]:
est = pytz.timezone('US/Eastern')
c = datetime.strptime((a['Date'] + ' ' + a['TimeBarStart'])[0], '%Y-%m-%d %H:%M:%S').astimezone(tz=est)

In [30]:
c.strftime('%Y-%m-%d %H:%M:%S')

'2020-07-14 15:18:00'

In [23]:
import pytz

In [ ]:
est = pytz.timezone('US/Eastern')
fmt = '%Y-%m-%d %H:%M:%S %Z%z'

winter = datetime(2016, 1, 24, 18, 0, 0, tzinfo=utc)
summer = datetime(2016, 7, 24, 18, 0, 0, tzinfo=utc)

print winter.strftime(fmt)
print summer.strftime(fmt)

print winter.astimezone(est).strftime(fmt)
print summer.astimezone(est).strftime(fmt)

In [6]:
!pip show tornado

Name: tornado
Version: 6.0.4
Summary: Tornado is a Python web framework and asynchronous networking library, originally developed at FriendFeed.
Home-page: http://www.tornadoweb.org/
Author: Facebook
Author-email: python-tornado@googlegroups.com
License: http://www.apache.org/licenses/LICENSE-2.0
Location: c:\users\user\anaconda3\envs\stock\lib\site-packages
Requires:
Required-by: notebook, jupyter-client, ipykernel

In [1]:
import asyncio

In [2]:
asyncio.get_event_loop()

In [3]:
asyncio.get_event_loop().stop()

In [3]:
from StockMethodRealTime import StockMethodRealTime

In [4]:
aapl = StockMethodRealTime("aapl", "1h")

In [5]:
aapl.get_real_time_data()

C:\Users\User\anaconda3\envs\stock\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xA4\\xA4\\xB0\\xEA\\xBC\\xD0...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

,Date,Ticker,TimeBarStart,Open,High,Low,Close,Volume
0,2020-07-17,AAPL,03:28:00,385.945,386.410,385.905,386.345,-1
1,2020-07-17,AAPL,03:29:00,386.345,386.610,386.175,386.500,-1
2,2020-07-17,AAPL,03:30:00,386.500,386.510,386.215,386.415,-1
3,2020-07-17,AAPL,03:31:00,386.415,386.475,386.305,386.445,-1
4,2020-07-17,AAPL,03:32:00,386.445,386.815,386.405,386.615,-1
...,...,...,...,...,...,...,...,...
356,2020-07-18,AAPL,02:54:00,386.200,386.320,386.135,386.150,-1
357,2020-07-18,AAPL,02:55:00,386.150,386.255,386.040,386.050,-1
358,2020-07-18,AAPL,02:56:00,386.050,386.080,385.965,386.045,-1
359,2020-07-18,AAPL,02:57:00,386.045,386.050,385.830,385.840,-1
360,2020-07-18,AAPL,02:58:00,385.840,385.895,385.770,385.895,-1

In [6]:
from StockMethod import StockMethod

In [9]:
x = StockMethod(symbol='aapl', freq='1h')
x.query_by_symbol_and_freq(start='2020-07-5', end='2020-07-10')

C:\Users\User\anaconda3\envs\stock\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xA4\\xA4\\xB0\\xEA\\xBC\\xD0...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

,DateTime,Ticker,Open,High,Low,Close,Volume,TotalTrades
0,2020-07-06 09:00:00,AAPL,370.0,373.5,369.86,373.22,5430524,58939
1,2020-07-06 10:00:00,AAPL,373.23,375.0,364.11,374.962,5231198,65396
2,2020-07-06 11:00:00,AAPL,374.98,375.78,364.11,374.395,4051217,51723
3,2020-07-06 12:00:00,AAPL,374.38,374.8,364.11,374.125,2600055,35262
4,2020-07-06 13:00:00,AAPL,374.15,374.238,364.11,373.462,1985221,26627
5,2020-07-06 14:00:00,AAPL,373.47,373.52,364.11,373.05,2544897,34649
6,2020-07-06 15:00:00,AAPL,373.05,374.41,372.01,373.81,4081535,51680
7,2020-07-07 09:00:00,AAPL,375.47,376.93,374.0,375.82,4006229,45665
8,2020-07-07 10:00:00,AAPL,375.82,378.65,373.85,378.06,5045918,61740
9,2020-07-07 11:00:00,AAPL,378.075,378.5,377.0,377.63,2734767,38815
10,2020-07-07 12:00:00,AAPL,377.65,377.87,375.43,376.62,2941852,34701
11,2020-07-07 13:00:00,AAPL,376.6,376.86,373.85,375.85,2073327,26203
12,2020-07-07 14:00:00,AAPL,375.85,376.01,373.85,375.47,2684828,32265
13,2020-07-07 15:00:00,AAPL,375.47,375.76,372.23,372.64,4914154,62039

In [3]:
from StockMethodRealTime import StockMethodRealTime
aapl = StockMethodRealTime("aapl", "1h")
aapl.resample_date()

In [28]:
import pandas as pd
import numpy as np

x = pd.DataFrame({'a': np.arange(6), 'b': np.arange(6)+2, 'c': np.arange(6)+10})
x = x.set_index(np.arange(6)+20)

In [31]:
x

    a  b   c
20  0  2  10
21  1  3  11
22  2  4  12
23  3  5  13
24  4  6  14
25  5  7  15

In [24]:
x.loc[:, ['a', 'b']]

   a  b
0  0  2
1  1  3
2  2  4
3  3  5
4  4  6
5  5  7

In [30]:
x.reset_index(drop=True)

   index  a  b   c
0     20  0  2  10
1     21  1  3  11
2     22  2  4  12
3     23  3  5  13
4     24  4  6  14
5     25  5  7  15